@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNova-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNova-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
form,
p {
  margin: 0;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

.d-flex {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 20;
  padding-top: 20px !important;
}

.section-left,
.section-right {
  flex: 1;
}

.section-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
  row-gap: 36px;
}

.app-button {
  border-radius: 40px;
  padding: 15px 25px;
  font-family: Proxima Nova;
  font-weight: 400;
  line-height: 19px;
  color: white;
  background-color: black;
  outline: none;
  border: 0;
  font-size: 16px;
  display: inline;
  white-space: nowrap;
  cursor: pointer;
}

.app-input {
  display: flex;
}

.app-input input {
  width: 100%;
  padding: 15px 157px 15px 25px;
  border-radius: 124.5px;
  outline: none;
  appearance: none;
  border: none;
  background-color: #f0f0f0;
  font-size: 16px;
  font-family: Proxima Nova;
  line-height: 23px;
}

app-input input::-webkit-input-placeholder {
  /* Edge */
  color: #8c8c8c;
}

app-input input:-ms-input-placeholder {
  /* Internet Explorer */
  color: #8c8c8c;
}

app-input input::placeholder {
  color: #8c8c8c;
}

.app-input button {
  margin-left: -132px;
  background-color: black;
}

.form-input {
  width: 100%;
  padding: 13px 16px;
  border-radius: 10px;
  outline: none;
  appearance: none;
  border: 2px solid #ffffff;
  background-color: #f5f5f5;
  font-size: 16px;
  font-family: Proxima Nova;
  line-height: 23px;
}

.main {
  width: 100%;
  background-color: #23b78d;
  height: 100vh;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero {
  height: calc(100% - 70px);
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  padding: 0 16px;
  z-index: 20;
  position: relative;
}

.hero-content-wrap {
  width: 100%;
  display: flex;
  column-gap: 94px;
  justify-content: center;
}

.hero-content {
  height: 70%;
  padding-top: 91px;
}

.hero-text-content {
  max-width: 467px;
}

.hero-text-content p {
  margin-bottom: 20px;
}

.hero-image-wrapper {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  height: 30%;
}

.hero-image {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -50%;
}

.hero-mobile-wrapper {
  display: none;
}

.services-section {
  width: 100%;
  display: flex;
  column-gap: 50px;
  margin-top: 412px;
}

.support-section {
  margin-top: 100px;
}

.services-section .section-left .app-input {
  max-width: 467px;
}

.services-section .section-left .desc {
  margin-top: 12px;
  margin-bottom: 24px;
}

.services-section .section-left .section-grid {
  margin-bottom: 40px;
}

.services-section .section-right img {
  width: 100%;
  border-radius: 30px;
}

.icon-wrap {
  width: 38px;
  height: 38px;
  border-radius: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.support-section {
  display: flex;
  justify-content: space-between;
  column-gap: 36px;
}

.support-section .section-left.desktop {
  overflow: hidden;
  position: relative;
  background-color: #23b78d;
  padding: 40px;
  border-radius: 30px;
  height: 600px;
  color: white;
}

.support-section .section-right.desktop {
  overflow: hidden;
  position: relative;
  background-color: #23b78d;
  padding: 40px;
  border-radius: 30px;
  height: 600px;
  color: white;
}

.support-section .section-left h5 {
  margin-bottom: 23px;
}

.support-section .section-right h5 {
  margin-bottom: 23px;
}

.support-section .section-right.desktop img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55%;
  object-fit: cover;
  object-position: center;
}

.support-section .section-left.desktop img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55%;
  object-fit: cover;
  object-position: center;
}

.support-section .section-left.mobile {
  display: none;
}

.support-section .section-right.mobile {
  display: none;
}

.support-section .section-left.mobile .text-section {
  background-color: #23b78d;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 16px;
  color: white;
}

.support-section .section-right.mobile .text-section {
  background-color: #23b78d;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 16px;
  color: white;
}

.support-section .section-left.mobile img {
  position: static;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.support-section .section-right.mobile img {
  position: static;
}

.join-waitlist {
  margin-top: 100px;
}

.join-waitlist .join-waitlist-content {
  background-color: #23b78d;
  border-radius: 30px;
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.join-waitlist .join-waitlist-content .wrapper {
  max-width: 560px;
  padding: 0 20px;
}

.join-waitlist .join-waitlist-content .wrapper h5 {
  color: white;
  text-align: center;
  margin-bottom: 36px;
}

.users-section {
  margin-top: 100px;
}

.users-section h4 {
  margin-bottom: 20px;
  text-align: center;
}

.users-section .desc {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
}
.users-section-content {
  display: flex;
  column-gap: 142px;
  align-items: center;
}
.users-section .users-section-content .section-right .client {
  margin-top: 40px;
  display: flex;
  column-gap: 16px;
  align-items: center;
  /* border-bottom: 1px solid #d9d9d9; */
  padding: 7px 0;
}

.users-section .users-section-content .section-right .border-deep {
  border-bottom: 2px solid #000000;
  transform: matrix(0, -1, -1, 0, 0, 0);
}

.users-section .users-section-content .section-right .client .image {
  height: 48px;
  width: 48px;
  border-radius: 100px;
  background-color: #f0f0f0;
}

.users-section .users-section-content .section-left {
  width: 100%;
}

.users-section .users-section-content .section-left .youtube-video {
  background-color: #f0f0f0;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  height: 403px;
}

footer {
  background-color: #fafafa;
  margin-top: 67px;
}

footer .content {
  display: flex;
  justify-content: space-between;
  padding: 35px 16px;
}

footer .content .footer-menu-content {
  display: flex;
  justify-content: end;
  column-gap: 25px;
}

/* font size styles */
.text-xl {
  font-size: 75px;
  line-height: 101px;
  font-family: "Libre Franklin", sans-serif;
}

.text-lg {
  font-size: 50px;
  line-height: 61px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
}

.text-md {
  font-size: 30px;
  line-height: 36px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
}

.text-base {
  font-size: 18px;
  line-height: 22px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
}

.text-sm {
  font-size: 16px;
  line-height: 23px;
  font-family: Proxima Nova;
}

.text-xs {
  font-size: 14px;
  line-height: 19px;
  font-family: Proxima Nova;
  color: black;
  text-decoration: none;
}

.footer-menu-content a:hover {
  text-decoration: underline;
}

/* slider */
.slider {
  height: 403px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


/* modal styles */
.modal {
  position: relative;
  z-index: 100;
  display: none;
}

.modal-backdrop {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-wrap {
  padding: 16px;
  max-width: 374px;
  margin: 0 auto;
  position: relative;
  overflow-y: auto;
}

.modal-content {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.modal-content .modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.modal-content .modal-header img {
  cursor: pointer;
}

.modal-content .modal-body {
  margin-top: 10px;
}

.modal-content .modal-body p {
  color: #434343;
}

.modal-content .modal-body form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.modal-content .modal-body form .app-button {
  background-color: black;
  width: 100%;
}

/* responsiveness */

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
  .text-xl {
    font-size: 60px;
    line-height: 80px;
  }

  .text-lg {
    font-size: 35px;
    line-height: 45px;
  }

  .text-md {
    font-size: 24px;
  }

  .text-sm {
    font-size: 15px;
    line-height: 21px;
  }
  .hero-content {
    height: auto;
    padding-top: 40px;
  }

  .hero-image-wrapper {
    display: none;
  }

  .hero-content-wrap {
    column-gap: 40px;
  }

  .hero-mobile-wrapper {
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
  }
  .hero-image-mobile {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
  .app-input {
    flex-direction: column;
    row-gap: 10px;
  }
  .text-xl {
    font-size: 60px;
    line-height: 80px;
  }

  .text-lg {
    font-size: 35px;
    line-height: 45px;
  }

  .text-md {
    font-size: 24px;
  }

  .text-sm {
    font-size: 15px;
    line-height: 21px;
  }

  .section-grid {
    column-gap: 25px;
    row-gap: 18px;
  }

  .app-input button {
    margin-left: 0px;
  }

  .app-input input {
    padding: 15px 15px 15px 25px;
  }

  .hero-content-wrap {
    flex-direction: column;
    column-gap: 0;
  }

  .hero-content {
    height: auto;
    padding-top: 50px;
  }

  .support-section .section-left {
    height: 720px;
  }

  .hero-mobile-wrapper {
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    padding: 0 16px;
  }

  .hero-image-wrapper {
    display: none;
  }

  .hero-text-content {
    max-width: 100%;
  }

  .hero-image-mobile {
    width: 100%;
  }

  .services-section {
    margin-top: 216px;
    flex-direction: column;
    column-gap: 0;
    row-gap: 40px;
  }

  .support-section {
    flex-direction: column;
    column-gap: 0;
    row-gap: 40px;
  }

  .support-section .section-left.desktop {
    display: none;
  }

  .support-section .section-right.desktop {
    display: none;
  }

  .support-section .section-left.mobile {
    display: block;
  }

  .support-section .section-right.mobile {
    display: block;
    background-color: #23b78d;
    border-radius: 30px;
  }

  .join-waitlist .join-waitlist-content {
    padding: 16px 0;
  }

  .users-section .text-lg,
  .users-section .desc {
    text-align: center;
    width: 100%;
  }

  .users-section .users-section-content {
    flex-direction: column;
    column-gap: 0;
    row-gap: 40px;
  }

  .users-section .users-section-content .section-right {
    width: 100%;
  }

  .users-section .users-section-content .youtube-video {
    width: 100%;
    height: 340px;
    border-radius: 20px;
  }

  footer .content {
    flex-direction: column;
    column-gap: 0;
    row-gap: 20px;
  }

  footer .content .footer-menu-content {
    flex-direction: column;
    column-gap: 0;
    row-gap: 20px;
  }
}
